.login-warp{
}

.forget {
    margin: 1em;
    color: gray;
}

.padding {
    padding: 15vh;
}

.red{
    color: red;
}

.green{
    color: green;
}

.btn {
    margin: 8px;
}

.login-card{
    text-align: center;
    width: 400px;
}