.btn-color {
  color: white;
}
.admin-footer {
  width: 100%;
}
.admin-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid white;
  font-size: 20px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
  background-color: var(--sed-bg-color);
}

.admin {
  border: 3px solid white;
  margin-left: 35px;
  margin-right: 35px;
}
.unclickable-button {
  cursor: default;
}
