@import "~antd/dist/antd.css";

* {
  box-sizing: border-box;
}
/* HomeView  */
.homeViewSideMenu {
  text-align: center;
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10rem 20px 0px 20px;
}
.homeViewContent {
  padding: 0px 20px 0px 20px;
  margin-top: 2rem;
  width: 100%;
}
.homeViewContainer {
  height: 100vh;
}
.homeViewFooter > ul {
  height: 5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 0px;
  border-top: 1px solid gray;
}
.hoemViewFooter {
  width: 100%;
}
.footerItem {
  list-style: none;
  height: 1rem;
  width: auto;
}
.classTitle {
  border: 3px solid black;
}
.teamCardContainer {
  width: 100%;
  margin-bottom: 2rem;
  padding: 2rem;
}
.teamCardDivider {
  background: gray;
}
.teamCardHeader {
  display: flex;
  justify-content: space-between;
}
#homeViewBackButton {
  margin-bottom: 1rem;
}

.theme-background-color {
  background-color:  var(--main-bg-color);
}

.theme-bar-color {
  background-color:  var(--main-btn-color);
}

.theme-btn-color{
  background-color:  var(--sed-btn-color);
  color: #FFF;
  opacity: 0.9;
}

.theme-content{
  background-color:  #F1FAFA;
}

:root {
  --main-bg-color: #D5F3F4;
  --sed-bg-color: #66CCCC;
  --main-btn-color: #66CCCC;
  --sed-btn-color:#8AEBE5;
  --content-color: #F1FAFA;
}

/*global ant design parimary button setting*/
.ant-btn-primary {
  background-color: #66CCCC;
  border: 0;
  box-shadow: 1px 1px 0 grey;
  border-radius:5px;
}