@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.theme-background-color {
  background-color: #d5f3f4;
}

.theme-bar-color {
  background-color: #66cccc;
}

.theme-btn-color {
  background-color: #8aebe5;
  color: #fff;
  opacity: 0.9;
}

.green-dark-title {
  color: #4c9494;
}

.searchBar {
  position: relative;
  left: 25%;
  margin-right: 325px;
  margin-bottom: 2rem;
  width: 50%;
}
