.ant-avatar {
    margin-top: -30px;
    margin-left: 25px;
  }
/* .ant-row-rtl .ant-avatar {
    margin-right: 0;
    margin-left: 16px;
} */

#profile_wrapper {
    background-color: lightsalmon;
}

#fixed_bar{
    background-color: transparent;
}

#profile_image {
    background-color: transparent;
}

#personal_information {
    background-color: gainsboro;
    opacity: 0.8;
}

#experience_bar {
    background-color: transparent;
}
/* profile_image.js */
#profile_curve{
    background-color: black;
    border: 5px solid black;
}
